@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&display=swap');

.card {

  }


  
.infoComic {
    text-align: center;
    font-family: 'Alumni Sans', sans-serif; /* Asegúrate de que la fuente esté importada */
    font-weight: 600; /* SemiBold */
    font-size: 20px; /* Tamaño de la fuente */
    letter-spacing: 0.05em; /* Separación entre letras del 5% */
    color: rgb(0, 0, 0); /* Color del texto del menú */
}

.infoComic H1{
  font-size: 32px;
}