@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    position:relative;
    background-image: 
        linear-gradient(#A6294099, #A6294099),
         url('../assets/fondoHeader2.jpg');
    background-size: cover;
    background-position: center -120px;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 90px; /* Ajusta el tamaño del logo */
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 4vh; /* Espaciado entre los elementos del menú */
}

.navbar a {
    text-decoration: none;
    font-family: 'Alumni Sans', sans-serif; /* Asegúrate de que la fuente esté importada */
    font-weight: 600; /* SemiBold */
    font-size: 32px; /* Tamaño de la fuente */
    letter-spacing: 0.05em; /* Separación entre letras del 5% */
    color: rgb(0, 0, 0); /* Color del texto del menú */
}

.buscador-container {
    display: flex;
    align-items: center;
}

.buscador-container input {
    padding: 5px;
    margin: 8px;
}

